<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-span-1 text-center text-white pt-6 border-r-4 border-r-gray-800 ">
        <h2 class="text-2xl border-b-2 border-amber-600 inline-block">Categories</h2>
        <!-- we'll have to map over categories. Can use dummy data for now -->
         <ul class="pt-6 flex flex-col gap-4">
            <li><a href="">RPG</a></li>
            <li><a href="">Adventure</a></li>
            <li><a href="">Horror</a></li>
            <li><a href="">Shooter</a></li>
         </ul>
    </div>
</body>
</html>