<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="../src/output.css">
</head>
<body>
    <nav class="bg-gray-900 flex justify-between items-center h-24 px-5">
        <div>
            <h1 class="text-white text-3xl uppercase"><a href="/">Games Inventory</a></h1>
        </div>       
        <div>
            <h2 class="hover:cursor-pointer uppercase text-white pr-4 inline-block"><a href="/games/create">add game</a></h2>
            <h2 class="hover:cursor-pointer uppercase text-white inline-block"><a href="/categories/create">add catergory</a></h2>
        </div>
    </nav>
    
</body>
</html>